{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            Cairo Jazz Club
        </a>

        <a href="{% url 'ticket' %}" class="btn custom-btn d-lg-none ms-auto me-4">Buy Ticket</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'home' %}">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'home' %}#section_2">About</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'home' %}#section_3">Artists</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'home' %}#section_4">Schedule</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'home' %}#section_5">Pricing</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="{% url 'home' %}#section_6">Contact</a>
                </li>

            </ul>
            
            <a href="{% url 'ticket' %}" class="btn custom-btn d-lg-block d-none">Buy Ticket</a>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<section class="ticket-section section-padding">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-10 mx-auto">
                <form class="custom-form ticket-form mb-5 mb-lg-0" action="#" method="post" role="form">
                    {% csrf_token %}
                    <h2 class="text-center mb-4">Get started here</h2>

                    <div class="ticket-form-body">
                        {{ form.as_p }}
                        <div class="col-lg-4 col-md-10 col-8 mx-auto">
                            <button type="submit" class="form-control">Buy Ticket</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</section>
{% endblock content %}