{% extends 'base.html' %}
{% block content %}
<section class="ticket-section section-padding">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-10 mx-auto">
                <form class="custom-form ticket-form mb-5 mb-lg-0" action="#" method="post" role="form">
                    {% csrf_token %}
                    <h2 class="text-center mb-4">Get started here</h2>

                    <div class="ticket-form-body">
                        {{ form.as_p }}
                        <div class="col-lg-4 col-md-10 col-8 mx-auto">
                            <button type="submit" class="form-control">Buy Ticket</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</section>
{% endblock content %}